# Kafka config for Microsoft Fabric EventStream
BOOTSTRAP_SERVERS=your-namespace.servicebus.windows.net:9093
SASL_USERNAME=$ConnectionString
SASL_PASSWORD=Endpoint=sb://...;SharedAccessKeyName=...;SharedAccessKey=...;EntityPath=...

# Kafka topic name
TOPIC=es_your_eventstream_topic
